.PartyTable tr:nth-child(even) {
  background-color: rgb(221, 219, 218);
}
.PartyTable tr:nth-child(odd) {
  background-color: white;
}
.PartyTable th {
  color: black;
  background-color: rgb(243, 242, 242);
}